@media only screen and (max-width: 480px) {
  * {
    overflow-x: hidden;
  }
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .navbar,
  .search-fund {
    padding: 20px 20px;
  }
  .topnav {
    margin: auto;
  }
  .container {
    width: 320px;
    display: flex;
    flex-direction: column !important;
    margin-left: 20px;
    margin-right: 20px;
  }
  .hero {
    display: flex;
    flex-direction: column;
    /* padding: 20px 20px; */
  }
  .trust-right {
    /* padding: 20px 20px; */
    width: 300px;
    display: flex;

    overflow-x: auto;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
  }

  .hero-left h2 {
    font-size: 30px;
    margin-top: 10px;
  }
  .hero-left .des {
    color: #222222;
    font-family: Avenir;
    font-size: 17px;
    line-height: 29px;
    opacity: 0.699999988079071;
    width: 335px;
    text-align: left;
  }
  .hero-left h2 span div {
    background-color: #00d09c;
    box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
    opacity: 0.3;
    width: 69px;
    height: 10px;
    margin-top: -10px;
    z-index: -3;
  }
  .nav-head {
    padding-left: 20px;
  }

  .figure {
    width: 88px;
    height: 88px;
    padding: 20px;
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 13px;
  }
  .figure span {
    text-align: center;
    font-size: 11px;
  }
  .learn-with-guru {
    font-size: 30px !important;
  }

  .expert-right,
  .expert-left,
  .trust-left,
  .learn-left,
  .learn-right,
  .hero-left,
  .hero-right,
  .hero {
    width: 100%;
  }
  .img-res {
    display: none;
  }
  .img-resp {
    width: 100%;
  }
  .top {
    display: none;
  }
  .hero-left .des {
    width: 100%;
    padding-right: 60px;
  }
  /* .hero-left{
    padding: 10px 10px;
  } */
  .hero {
    padding-top: 0px;
  }

  .trust-left {
    word-wrap: break-word;
    /* padding-left: 20px;
    padding-right: 20px; */
  }
  .learn {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
  }
  .expert {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .boxes {
    display: flex;
    flex-direction: column;
  }
  .down-button {
    display: flex;
  }
  .down-button img {
    width: 120px;
  }
  .f-one,
  .f-two {
    width: 100%;
    /* padding: 10px 10px; */
  }
  .f-two .child {
    display: flex;
    flex-direction: column;
  }
  .footer-accordian {
    display: block;
    overflow: auto;
    margin: 0;
  }
  .accordion {
    border: 2px solid #f0f0f0;
    width: 100%;
    height: 52px;
    color: #444;
    cursor: pointer;
    padding: 18px;
    margin: 10px;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }
  .nav-accordion {
    border: none;
    outline: none;
    width: 90%;
    height: 52px;
    color: #444;
    cursor: pointer;
    padding: 18px;
    margin: 10px;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }
  .nav-accordion .nav-panel a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px 10px;
  }
  .fa-bars {
    font-size: 26px;
  }
  .accordion:hover {
    background-color: rgb(255, 255, 255);
  }

  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }
  .child-none {
    display: none !important;
  }
  .res-search {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .trust-right div .figure img {
    width: 50px;
  }

  .hero-left h2 {
    font-size: 30px;
  }
  .fund-guru {
    position: relative;
  }
  .learn-right p {
    font-size: 30px;
  }
  .expert .cover {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }
  .down-button img {
    width: 152px;
  }
  .child-respo {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
  }
  .child-respo div {
    /* width: 100px; */
    text-align: center;
  }
  .footer-base {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .search-funds {
    margin: 20px;
    width: 335px;
  }
  .extra-foot {
    display: block;
  }
  .topnav {
    padding-left: 0px;
  }
  .nav-bar-main {
    display: none;
  }
}
